<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node Server <%= title %></title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/some">Some</a>
        </li>
      </ul>
    </nav>
    <h2>haiodhwoihhawoidho iwada</h2>
    <form action="/some" method="POST">
      <label>
        Title: <br />
        <input name="title" type="text" /> <br />
      </label>
      <label>
        Content: <br />
        <input name="content" type="text" /> <br />
      </label>
      <label>
        Random No: <br />
        <input name="randomNo"  type="number" /> <br />
      </label>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
